.git
.github
.cursor

node_modules
**/node_modules

.turbo
**/.turbo
.next
**/.next
dist
**/dist
coverage
**/coverage

.build-home
packages/database/generated

.env
.env.*
!.env.example
!.env.production.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
